# Eclipse files
.classpath
.project
.settings/
target/
bin/

# Maven
target/

# Tomcat / Server
Servers/
*.log

# Build output
*.war

# IDE temporary
*.tmp
*.bak
*.swp
*~.nib
.local

# OS files
.DS_Store
Thumbs.db